KIWI_USER_ID=local-dev-user
DATABASE_PATH=

PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=sandbox
PLAID_PRODUCTS=transactions
PLAID_COUNTRY_CODES=US
AWS_S3_BUCKET=kiwi-finance-data-krisbro-314171434946
AWS_S3_TRANSACTIONS_PREFIX=transactions
AWS_S3_ACCOUNTS_PREFIX=accounts
AWS_STATE_BUCKET=kiwi-finance-data-krisbro-314171434946
AWS_STATE_KEY=state/kiwi_finance.db
